<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/clipart1108218.png">
    <script src="/js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/e0495e7cf3.js" crossorigin="anonymous"></script>

    <title> Book Now</title>
</head>
<body class="booking-body">

        <nav class="navbar-default navbar navbar-fixed-top" id="myNavStyles">
            <div class="container" class="row">

              

                <div class="col-md-6">
        <div class="nav-header">

            <a href="index" class="navbar-brand"> YOURLOGO </a>
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span   class="icon-bar"></span>
                <span   class="icon-bar"></span>
                <span   class="icon-bar"></span>   
            </button>

           
       </div>
        </div>

        
        <div class="col-md-6 collapse navbar-collapse" id="myNavbar">
            <ul  class="nav navbar-nav" id="myListStyle">
                <li><a href="index"> Home </a></li>
                <li><a href="about.html"> About Us</a></li>
                <li><a 
                style=" color: #005c91;
                background-color: #ff9cbd ;"
                href="booking"> Book Now </a></li>
            </ul>
        </div>
        </div>

    </nav>


<div class="booking-page">

    <div class="container ">

        <div class="row">

        <div>
            <div class="col-md-6 booking-page-box1">
            <h1>Appointment Booking Form.</h1>
            <h2> Availability:</h2>
            <p> Mon-Fiday</p>
            <h2> Time:</h2>
            <p> 8am - 11am</p>
            <p> 12pm - 5pm </p>
            <h2> For enquiress, kindly call </h2>
            <p> +1 415 3333333 </p>
            </div>
        </div>

            <div>
            <div class="col-md-6 booking-page-box2">
                 <form action="/booking" method="POST">

            <div class="form-group booking-box1">
                <label> fullname </label><br>
                <input class="form-control" type="text" name="fullname" id="name" placeholder="Jane Doe" id="input">
            </div>

            <div class="form-group booking-box2">
                <label> Date </label><br>
                 <input class="form-control" type="date" name="date" id="name" id="input">
            </div>

           <div class="form-group booking-box3">
                <label> Time </label><br>
                <select class="form-control" name="time" type="time" id="sell">
                    <option> 8:00pm - 9:00am </option>
                   <option> 9:00pm - 10:00am </option>
                   <option> 10:00pm - 11:00am </option>
                   <option disabled><strong> LAUNCH </strong></option>
                   <option> 12:00pm - 1:00pm </option>
                   <option> 1:00pm - 2:00pm </option>
                   <option> 2:00pm - 3:00pm </option>
                   <option> 3:00pm - 4:00pm </option>
                   <option> 4:00pm - 5:00pm </option>                  
                </select>
            </div>

            <div class="form-group booking-box4">
                <label> Service </label><br>
                <select class="form-control" name="service" type="text" id="sell">
                   <option> HAIRCUT<strong>[$35]</strong></option>
                   <option> VOLUME LASHES<strong>[$30]</strong></option>
                   <option> BRAIDS<strong>[$65]</strong></option>
                   <option> SHAVING<strong>[$25]</strong></option>
                   <option> HAIRCUT<strong>[$35]</strong></option>
                   <option> VOLUME LASHES<strong>[$30]</strong></option>
                   <option> BRAIDS<strong>[$60]</strong></option>
                   <option> SHAVING<strong>[$25]</strong></option>
                </select>
            </div>

            <div class="form-group booking-box5">
                <label> Email </label><br>
                <input class="form-control" type="email" name="email" id="email" placeholder="Jane@mail.com" id="input">
            </div>

            <div class="form-group booking-box6">
                <label> Pone No</label><br>
                <input class="form-control" type="text" name="phoneNo" id="phone-no" placeholder="+14152222222" id="input">
            </div>

            <div class="form-group booking-box6">
                <button type="submit" class="btn btn-success"> Book Now </button>
                <a href="index"> Homepage </a>
            </div>
        </form>
            </div>
        </div>
        </div>

    </div>

</div>

<div class="container-fluid" id="locationID">

    <div class="location">
        <div>
        <h1> LOCATE US AT </h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,  labore sint quisquam id excepturi,</p>
        <p style="font-weight: bold; color:#005c91;"> walkins Available</p>
    </div>

        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50470.07476441257!2d-122.47261935146342!3d37.75769481909827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sng!4v1643531775687!5m2!1sen!2sng" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
        
    </div>

</div>

<!-- footer -->

<div class="footer1">
<div class="container">

    <div class="row">

        <div class="col-md-4" id="footerdiv1">
            <h2> Follow US</h2>
           <a> <i style="color: #ff9cbd; width: 100px;" class=" fa-4x fab fa-instagram-square"></i> </a>
           <a>  <i style="color: #ff9cbd; width: 100px" class=" fa-4x fab fa-facebook-square"></i> </a>
           <a>  <i style="color: #ff9cbd; width: 100px" class=" fa-4x fab fa-youtube"></i> </a>
        </div>

        <div class="col-md-4" id="footerdiv1">
            <h2> Address </h2>
            <address>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore architecto praesentium, nam,
                 alias facilis 
                </address>

        </div>

        <div class="col-md-4" id="footerdiv2">
            <h1>YOURLOGO</h1>
            
                 <a href="about.html">About Us </a>
                 <a href="booking">BookNow </a>
            
        </div>

    </div>

</div>
</div>

<div class="container">

    <p style="text-align: center; padding: 20px;">© 2022 Impact Illustration. All rights reserved.</p>

</div>



    
    
</body>
</html>